
body {
    line-height: 1;
    font-family: $font;
    font-weight: 400;
    background-color: $main-color;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    border: 0.5px solid #ffffff;
}