$font: "Inter", sans-serif;

$main-color: #141416;

$heading-color: #FFFFFF;

$blue-color: #3B71FE;

$green-color: #58C27D;

$orange-color-1: #F5B318;
$orange-color-2: #FA8F54;
$orange-color-3: #FFD166;
$orange-color-4: #FFC83A;

$linear-gradient: (270deg, #F5B318 71.09%, rgba(245, 179, 24, 0) 100%);

$gray-color-1: #23262F;
$gray-color-2: #353945;
$gray-color-3: #777E90;
$gray-color-4: #B1B5C3;
$gray-color-5: #E6E8EC;
$gray-color-6: #F4F5F6;
$gray-color-7: #F4F5F9;